* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
:root {
--principal--color: #1173D4;
--secundary--color: #0F2B45;
--background--color:#101922;
--background--second--color: #1E293B;
--color--blur: #94a3b8;
}
@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
body {
    background-color: var(--background--color);
    color:white;
    font-family: 'Inter Variable', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* 1. Oculta la barra de desplazamiento por defecto */
    &::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra vertical */
    height: 12px; /* Altura de la barra horizontal */
    }
  
    /* 2. Estiliza la pista/fondo de la barra */
    &::-webkit-scrollbar-track {
        background-color: var(--background--color);
        border-radius: 10px;
    }
  
    /* 3. Estiliza el pulgar/manija de la barra (la parte que se mueve) */
    &::-webkit-scrollbar-thumb {
        background: var(--background--second--color); /* Color de la barra/pulgar */
        border-radius: 10px;
    }

    /* 4. Estiliza el pulgar al pasar el ratón (opcional) */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--principal--color); /* Color al pasar el ratón */
    }
}
body > header:nth-child(1) {
    display: flex;
    gap: 2rem;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color--blur);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background--color);

    h1{
        font-size: 18px;    
    }
    a {
        font-size: 15px;
    }
    img {
        max-width: 2.5rem;
        max-height: 2.5rem;
        border-radius: 100%;
        margin-left: 1rem;
    }
    svg {
        color: var(--principal--color);
    }
}
header div {
    display: flex;
    align-items: center;
    gap: 5px;

    nav {
        margin-left: 1rem;
    }
}
/* la navegacion de la barra de arriba */
header div:nth-child(1) a {
    text-decoration: none;
    color: var(--color--blur);
    font-weight: 400;
    margin: 1rem;
    padding-bottom: 0.3rem;
    
    position: relative;

    &:hover {
        color: var(--principal--color); 
    }
    &::after{
        content: ''; /* Obligatorio para que ::after sea visible */
        position: absolute;
        bottom: 0; /* Lo coloca justo en la parte inferior del enlace */
        left: 0; /* Lo alinea a la izquierda */
        width: 100%; /* El ancho total del enlace */
        height: 2px; /* Grosor de la línea */
        background-color: var(--principal--color); /* Color de la línea */

        /* Animación para el efecto progresivo */
        transform: scaleX(0); /* Inicialmente, la línea no tiene ancho (escala 0 en el eje X) */
        transform-origin: bottom left; /* La línea crecerá desde la izquierda (origen -x) */
        transition: transform 0.4s ease-out; /* Tiempo y tipo de animación (transición) */

    }
    &:hover::after {
        transform: scaleX(1);
    }
}

header div:nth-child(2) {
    a {
    background-color: var(--secundary--color);
    color: var(--principal--color);
    border-radius: 12px;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
        &:hover {
            color: white; 
            background-color: var(--principal--color);
            transform: scale(1.05);
            transition: transform 0.4s ease-out;
        }
        &:active {
            transform: scale(0.95);
            transition: transform 0.4s ease-out;
        }
    }  
}
main > header {
    h1{
        text-align: center;
        margin-top: 2rem;
        font-size: 48px;
    }
    p{
        text-align: center;
        font-size: 16px;
        color: var(--color--blur); 
    }
}
main > section {
    form {
        display: flex;
        margin-top: 2rem; 
        align-items: center;
    }
    input {
        width: 100%; 
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 5px;
        border: 1px solid #697b94;
        outline: none;
        background-color: var(--background--second--color);
        color: white;
        font-size: 16px;
        padding-left: 3.2rem;
        &::placeholder {
            color: var(--color--blur);
        }
        &:focus {
            border: 2px solid var(--principal--color);
        }
    }
    svg {
        position: relative;
        left: 2.2rem;
        color: var(--color--blur);
    
    } 
    .search-container {
        max-width: 56rem;
        margin-inline: auto;
        width: 100%;
    }
}
main > section .search-container > div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;

    select {
    background-color: rgb(57, 72, 99);
    color: white;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
        &:hover {
            background-color: var(--principal--color);
            color: white;
        }
        &:focus{
            border: 2px solid var(--principal--color);
            background-color: rgb(57, 72, 99);
        }
        &:first-child{
            margin-left: 0;
        }
    }
}

main > footer {
    margin-inline: auto;
    max-width: 56rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    h2 {
        margin-bottom: 1rem;
    }
    .Article-container {
        border: 1px solid var(--color--blur);
        border-radius: 10px;
    
    article {
        margin: 0;
        display: flex;
        align-items: start;
        gap: 1rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-bottom: 1px solid var(--color--blur);
        h3 {
            margin-bottom: 0.5rem;
        }
        small{
            color: var(--color--blur);    
        }
        p{
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            color: #c4c4c4;    
        }
        .apply-jobs {
            background-color: var(--principal--color);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            padding: 0.5rem 1rem; 
            font-weight: 600;
            text-decoration: none;
            outline: none;
            border: none;
            min-width: 6rem;
            height: 2.5rem;     
            cursor: pointer;
            font-size: 16px;
            a{
                text-decoration: none;
                color: white;
            }      
            &:hover {
                color: white;
                background-color: green;
                transform: scale(1.10);
                transition: transform 0.4s ease-out; 
            }
            &:active {
                transform: scale(0.95);
                transition: transform 0.4s ease-out;
            }
            &:focus {
                border: 2px solid var(--principal--color);
                background-color: var(--principal--color);
                color: white;
            }
            &.is-applied {
                background: #4caf50;
                pointer-events: none;
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }} 
}

body > footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem; 
    
    a {
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color--blur);
        padding: 10px;
        border-radius: 12px;
        font-weight: 700;
        text-decoration: none;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 14px;
        width: 2rem;
        height: 2rem;

        &:hover {
            display: flex;
            color: var(--principal--color);
            background-color: white;
            border: 1px solid var(--principal--color);
            border-radius: 12px;
            width: 2rem;
            height: 2rem;
            align-items: center;
            text-align: center;
            justify-content: center;
            transform: scale(1.05);
            transition: transform 0.4s ease-out;
        }

        &:active {
            transform: scale(0.90);
            transition: transform 0.4s ease-out;
        }

        &:focus {
            background-color: var(--principal--color);
            color: white;
        }

         &.is-active {
            background-color: var(--primary-light);
            color: white;
            pointer-events: none;
        }   
    }  
}
